includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - security-check-report.php
        - config
        - uninstall.php
    excludePaths:
        - vendor
        - node_modules
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
